@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  li{
    cursor: pointer;
  }
  input :placeholder-shown{
    color: black;
  }

  .spin{
    animation: rotate 2s infinite;
  }
  @keyframes rotate {
    100%{
      transform: rotate(360deg);
    }
  }

  .coin-info ul{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid #5f5d5f;
    list-style: none;
  }

  .coin-info ul li:last-child{
    font-weight: 300;
  }
}